@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Source Sans Pro', serif;
    background: linear-gradient(to top left, #0019d5b1, #0294a7b1);
    color: rgb(43, 43, 43);
    height: 100vh;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px dotted blue;
    text-align: center;
}


h1,
h2 {
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1 {
    font-size: 2.5rem;
    color: rgb(253, 30, 30);
}

h2 {
    font-size: 2rem;
    color: #0019d5;
    margin-bottom: 0.5rem;
    text-align: center;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

h1::after {
    display: block;
    height: 1px;
    background-color: rgb(253, 30, 30);
    content: " ";
    width: auto;
    margin: 0.5rem auto;
}

main {
    margin-top: 2rem;
    font-weight: 300;
}

.post-entry {
    font-family: inherit;
    font-size: 1.2rem;
    margin: 1rem auto;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: rgba(166, 213, 227, 0.667);
    border-radius: 0.5rem;
    width: 75%;
    text-align: justify;
    text-justify: newspaper;
    padding: 1rem;
}